 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
 }

 html,body{
  height: 100%;
  width: 100%;
 }

 body{
  background-color: black;
 }

 .parent{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

 }
 .cards{
  width: 200px;
  border: 1px solid whitesmoke;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #222;
 }

 .cards img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
 }

 .cards p{
  margin: 8px 2px;
 }
 .cards button{
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
 }