 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #130b0b;
 }

 html,body{
  height: 100%;
  width: 100%;
 }

  .parent{
    height: 100vh;
    width: 100%;
    background-color:#b1adad ;
    padding: 30px;
  }

  .card{
    height: 340px;
    width: 290px;
    background-color: #f2efef;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:40px ;
  }

  .top img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 2px;
  }

  .top button{
    display: flex;
    align-items: center;
    border: 1.5px solid #dadada;
     padding: 4px 8px;
     font-size: 11px;
     border-radius: 5px;
     gap: 3px;
     background-color:transparent ;
     color: #676565;
  }

  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b1b1b1;
    padding-top: 15px;
  }

  .bottom p{
    font-size: 10px;
    color: #8b8b8b;
  }

  .bottom button{
    color: #fff;
    background-color: #111;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }

   .center h3{
    font-size: 18px;
     
   }

   .center h3 span{
     font-weight: 400;
     font-size: 10px;
     color: #8b8b8b;
   }

   .center h2{
    font-size:21px ;
   }

   .center .middle{
     display: flex;
     gap: 10px;
     padding-top: 10px;
   }

   .center .middle h4{
    font-size: 15px;
    background-color: #dadada;
    color: black;
    padding: 3px 6px;
    font-weight: 500;
   }